<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.66" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.5" targetFramework="net48" />
  <package id="OpenCvSharp4" version="4.11.0.20250507" targetFramework="net48" />
  <package id="OpenCvSharp4.Extensions" version="4.11.0.20250507" targetFramework="net48" />
  <package id="OpenCvSharp4.runtime.win" version="4.11.0.20250507" targetFramework="net48" />
  <package id="PDFsharp" version="6.2.0" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.11" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net48" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.5" targetFramework="net48" />
  <package id="System.Drawing.Common" version="8.0.11" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="9.0.5" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="9.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.10" targetFramework="net48" />
</packages>